button {
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-background-soft);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    transition: all 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-background-mute);
    border-color: var(--color-border-hover);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}