.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    color: var(--color-text);
    margin-bottom: 0.5rem;
    font-size: 0.9em;
}

.form-group input {
    width: 100%;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-family: inherit;
    background-color: var(--color-background-soft);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    transition: border-color 0.4s;
    color: var(--color-text);
}

.form-group input:focus {
    outline: none;
    border-color: var(--color-border-hover);
}

.form-group input::placeholder {
    color: var(--color-text-light-2);
}

.form-group button {
    margin-top: 0.5rem;
    width: 100%;
    padding: 0.6em 1.2em;
    background-color: var(--color-background-soft);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    color: var(--color-text);
    cursor: pointer;
}