.dashboard-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
    border-bottom: 2px solid var(--vt-c-divider-light-1);
}

.pill {
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.3rem 0.8rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffffb3;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dashboard-header .logo {
    width: 2rem;
    height: 2rem;
}

.nav-links ul {
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-links a,
.header-right a {
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.nav-links a:hover,
.header-right a:hover {
    opacity: 1;
}